<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles/main.css">
    <title>Medicenter</title>
</head>

<body>
    <main>
    <header>
        <div id="container-header">
            <div class="logo">
                <img src="../../public/images/logo.png" alt="logo">
            </div>
            <div class="main-menu">
            <div class="menuMobile">
                <div class="mm_line"></div>
                <div class="mm_line"></div>
                <div class="mm_line"></div>
            </div>
            <nav class="menu">
                <a href="#" class="active">HOME</a>
                <a href="">BLOG</a>
                <a href="">PAGES</a>
                <a href="">DEPARTMENTS</a>
                <a href="">TIMETABLE</a>
                <a href="">GALLERY</a>
                <a href="">CONTACT</a>
            </nav>
        </div>
        </div>
    </header>
    <section id="banner">
        <div class="banner-options">
            <div class="message-banner">
                <h1>Top notch experience</h1>
                <p>Medicenter is a responsive template perfect for all screen sizes</p>
            </div>
            <div class="banner-notices">
                <div class="message1">
                    <h3>Emergency Case</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to</p>
                    <a href=""><button>Read more ></button></a>
                </div>
                <div class="message2">
                    <h3>Doctors TimeTable</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to</p>
                    <a href=""><button>Read more ></button></a>
                </div>
                <div class="message3">
                    <h3>Opening Hours</h3>
                    <p>Monday - Friday <span>8:00 - 17:00</span></p>
                    <p>Saturday<span>9:30 - 17:30</span></p>
                    <p>Sunday <span>9:30 - 15:30</span></p>
                    <a href=""><button>Read more ></button></a>
                </div>
            </div>
        </div>
    </section>

     <section id="main">
        <div class="container">
            <section id="principal-main">
                <div class="latest-news">
                    <div class="widget_title">
                        <h1>Latest News</h1>
                    </div>
                    <hr>
                    <div class="notices">
                        <div class="box-notice">
                            <div class="data">
                                <p>28 OUT 2020</p>
                                <P>2
                                </P>
                            </div>
                            <img src="../../public/images/dr.jpg" width="290px" alt="">
                            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
                            <p>1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                specimen book. It has survived not only five centuries, but also the leap into
                                electronic typesetting, remaining essentially unchanged. It was popularised in</p>

                        </div>
                        <div class="box-notice">
                            <div class="data">
                                <p>28 OUT 2020</p>
                                <P>2
                                </P>
                            </div>
                            <img src="../../public/images/dr.jpg" width="290px" alt="">
                            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
                            <p>1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                specimen book. It has survived not only five centuries, but also the leap into
                                electronic typesetting, remaining essentially unchanged. It was popularised in</p>

                        </div>
                        <div class="box-notice">
                            <div class="data">
                                <p>28 OUT 2020</p>
                                <P>2
                                </P>
                            </div>
                            <img src="../../public/images/dr.jpg" width="290px" alt="">
                            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
                            <p>1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                specimen book. It has survived not only five centuries, but also the leap into
                                electronic typesetting, remaining essentially unchanged. It was popularised in</p>

                        </div>

                        <div class="box-notice">
                            <div class="data">
                                <p>28 OUT 2020</p>
                                <P>2
                                </P>
                            </div>
                            <img src="../../public/images/dr.jpg" width="290px" alt="">
                            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
                            <p>1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                specimen book. It has survived not only five centuries, but also the leap into
                                electronic typesetting, remaining essentially unchanged. It was popularised in</p>
                        </div>
                    </div>
                </div>
            </section>
            <aside class="departments">
                <div class="widget_title">
                    <h1>Departments</h1>
                </div>
                <hr>
                <div class="block-departs">
                    <div class="departs"></div>
                    <div class="departs"></div>
                    <div class="departs"></div>
                    <div class="departs"></div>
                    <div class="departs"></div>
                    <div class="departs"></div>
                </div>
                <div class="widget_title">
                    <h1>Make An Apointment</h1>
                </div>
                <hr>
                <div class="contacts">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has be</p>
                    <p>by phone <strong>21 9 9999-9999</strong></p>
                    <p>by e-mail <a href="mailto:outlook.com.br">medicenter@outlook.com</a></p>
                    <p>or <a href="https://www.google.com/intl/pt-BR/forms/about/">fill in the form</a> on our contact
                        page</p>
                </div>
              </div>
        </aside>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="banner-notices1">
                <div class="message1">
                    <h3>Health Insurance</h3>
                    <p>Here In medicenter we have individual </p>
                </div>
                <div class="message2">
                    <h3>Medical Records</h3>
                    <p>Here In medicenter we have individual </p>
                </div>
                <div class="message3">
                    <h3>Online Bill Pay</h3>
                    <p>Here In medicenter we have individual </p>
                </div>
            </div>

            <div class="footer-notices">
                <div class="footer-piece1">
                    <h1>Medicenter Clinic</h1>
                    <hr>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical</p>

                    <div class="contacts-footer">
                        <div class="address">
                            <p>Medicenter Clinic</p>
                            <p>33 Farlane Street</p>
                            <p>Keilor East</p>
                            <p>VIC 3033, Australia</p>
                        </div>
                        <div class="numbers-address">
                            <p>+123 655 655</p>
                            <p>+123 655 655</p>
                            <p><a href="mailto:@outlook.com">medicenter@gmail.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="footer-piece2">
                    <h1>Latest Posts</h1>
                    <hr>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical</p>
                    <span>6 years ago</span>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical</p>
                    <span>6 years ago</span>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical</p>
                    <span>6 years ago</span>

                </div>
                <div class="footer-piece3">
                    <h1>Latest Tweets</h1>
                    <hr>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical</p>
                    <span>4 days ago</span>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical</p>
                    <span>4 days ago</span>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical</p>
                    <span>4 days ago</span>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical</p>
                    <span>4 days ago</span>

                </div>
            </div>
            <hr>
            <div class="final-message">
                <p>© Copyright - <strong>Medicenter Template</strong> by <strong>QuanticaLabs</strong></p>
                <p><strong>Template Utilizado para Prática por: REGINALDO SANTOS DE</strong></p>
            </div>
        </div>
    </footer>
</main>
<script type="text/javascript" src="../../public/js/script.js"></script>
</body>

</html>