<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles/main.css">
    <title>Google</title>
</head>

<body>
    <header>
        <div class="Top-Menu">
            <a href="https://mail.google.com/mail/&ogbl">Gmail</a>
            <a href="https://www.google.com.br/imghp?hl=pt-BR&ogbl">Imagens</a>
            <a href="https://www.google.com.br/intl/pt-BR/about/products"><img
                    src="../../public/images/Screenshot_2020-10-28 Google.png" alt=""></a>
            <a href=""><button>Fazer login</button></a>
        </div>
    </header>
    <section>

        <div id="container">
            <div class="logo">
                <a href="https://www.google.com.br"><img src="../../public/images/logo_google.png" width="270px;"alt="Logo"></a>
            </div>
        </div>
        <div class="form">
            <label for="lupa" class="keyboard"><img src="../../public/images/teclado.png" alt="teclado" ></label>
            <label for="keyboard" class="lupa"><img src="../../public/images/Screenshot_2020-10-28 Google(1).png" alt="teclado"  height="33px"></label>
            <input class="search" type="text">
            
        <div class="buttons-submit">
            <input type="submit" value="Pesquisa Google">
            <input type="submit" value="Estou com sorte">
        </div>
        </div>
    </section>

    <footer>
        <div class="footer1">
            <a href="">Brasil</a>
        </div>
        <div class="container-footer">
        <div class="footer2">
            <a href="https://about.google/?utm_source=google-BR&utm_medium=referral&utm_campaign=hp-footer&fg=1">Sobre</a>
            <a href="https://www.google.com/intl/pt-BR_br/ads/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpafooter&fg=1">Publicidade</a>
            <a href="https://www.google.com/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpbfooter&fg=1">Negócios</a>
            <a href="https://google.com/search/howsearchworks/?fg=1">Como funciona a Pesquisa</a>
        </div>
        <div class="footer2">
            <a href="https://policies.google.com/privacy?hl=pt-BR&fg=1">Privacidade</a>
            <a href="https://policies.google.com/terms?hl=pt-BR&fg=1">Termos</a>
            <a href="">Configurações</a>
        </div>
    </div>
    </footer>
</body>

</html>